In [18]:
import zipfile
import pandas as pd
import kaggle

In [19]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [20]:
#extract zip file
zipfile_name='london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

In [90]:
# read the csv file using pandas data frame
bikes = pd.read_csv("london_merged.csv")

In [91]:
#explore data
bikes.info()
bikes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [92]:
#count unique values in the weather code column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [93]:
#changing the column names for ease of use

new_cols_dict = {'timestamp':'time',
                 'cnt':'count',
                 't1':'temperature',
                 't2':'temp_feelslike',
                 'hum':'humidity_percentage',
                 'wind_speed':'wind_speed_kph',
                 'weather_code':'weather',
                 'is_holiday':'is_holiday',
                 'is_weekend':'is_weekend',
                 'season':'season'
                 }
#renaming columns 
bikes.rename(new_cols_dict,axis=1,inplace=True)

In [94]:
#converting humidity to percentage
bikes.humidity_percentage=bikes.humidity_percentage/100

In [95]:
#creating dictionaries for season and weather to map integers to the actual values

season_dict = { '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
  }
weather_dict ={'1.0':'clear',
    '2.0':'scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'cloudy',
    '7.0':'Rain',
    '10.0':'Rain with Thunder',
    '26.0':'snowfall'
 }
#changing the season column data type to string
bikes.season = bikes.season.astype('str')
bikes.weather = bikes.weather.astype('str')

bikes.season=bikes.season.map(season_dict)
bikes.weather=bikes.weather.map(weather_dict)

In [96]:
#checking the data to see the mapping
bikes.head()

,time,count,temperature,temp_feelslike,humidity_percentage,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [98]:
#writing the final data to excel file which we will use in our tablue visualisation.
bikes.to_excel('london_bikes.xlsx',sheet_name='data')